.task_modal_container {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  word-break: break-word;
}

@keyframes fade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.task_modal {
  color: var(--color-subTitle);
  background-color: var(--color-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 28rem;
  border-radius: 1rem;
  padding: 2rem;
  animation: fade 300ms ease-in-out;
}

.task_modal_title {
  color: var(--color-title);
}

.task_modal_top {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.top_edit_button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  width: 1.8rem;
  border-radius: 0.9rem;
  align-items: center;
  transition: background-color 150ms ease-in-out;
}

.top_edit_button:hover {
  background-color: var(--color-ellipsis);
}

.top_edit_submenu {
  background-color: var(--color-bg);
  position: absolute;
  top: 3.2rem;
  right: -4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 10rem;
  border-radius: 0.8rem;
  box-shadow: 0 4px 6px #364e7e1a;
}

.submenu_button {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: left;
  color: var(--color-gray);
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 150ms ease-in-out;
}

#submenu_delete {
  color: var(--color-warning);
}

.submenu_button:hover {
  opacity: 0.5;
}

.task_modal_description {
  font-size: 0.8rem;
  color: var(--color-gray);
}

.subtasks_title {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.task_subtasks_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subtask_container {
  display: flex;
  gap: 0.8rem;
  width: 100%;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0.8rem;
  user-select: none;
  border-radius: 0.4rem;
  background-color: var(--color-themeSwitchBox);
  transition: background-color 150ms ease-in-out;
}

.subtask_done {
  text-decoration: line-through;
}

.subtask_container:hover {
  background-color: var(--color-checkbox-hover);
}

.status_title {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.status_container {
  position: relative;
}

.status_dropdown {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 2px solid var(--color-borderLine);
  border-radius: 0.2rem;
  color: var(--color-title);
  padding: 0.5rem 1rem;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
}

.status_dropdown:focus {
  border: 2px solid var(--color-primary);
}
